* {
  box-sizing: border-box;
}

.vending-machine {
  background-color: #019db4;
  width: 600px;
  height: 700px;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 125px 125px 125px 125px;
  gap: 20px;
}

.products {
  border: 1px solid black;
  grid-column-start: span 3;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: black;
  height: 500px;
}

.product {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  transition: font-size;
  transition-duration: 2s;
}
.product:hover {
  font-size: 60px;
  cursor: pointer;
}

.light {
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  font-size: 12px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  background-color: #f0f3bd;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.screen {
  background-color: white;
  height: 40px;
  margin: 5px;
  margin-bottom: 20px;
}
.button {
  background-color: #dd9296;
  align-self: center;
  height: 50px;
  font-weight: bold;
}

.button:hover {
  background-color: #d7787d;
}
